<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Create Product</title>
  </head>
  <body>
    <form action="/products" method="post">
      <div>
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name" required>
      </div>
      <div>
        <label for="price">Product Price</label>
        <input type="number" name="price" id="price" placeholder="Product Price" required>
      </div>
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
